* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  transition: background-color 1s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container h1 {
  font-size: 96px;
  background-image: linear-gradient(45deg, #075a9c, #5ae897);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  transition: all 1s;
}
